body {
  text-align: center;
  text-transform: lowercase;
  font-family: 'Ranga', cursive;
  background: url("../img/outer-space.jpg");
  background-position: center;
  padding: 20px;
  margin: 50px;
}

.well {
  color: darkblue;
  padding: 2px
}

.jumbotron {
  text-align: center;
}

.intro-left {
  padding: 25px;
  margin: 25px;
  float: left;
}

.intro-right {
  padding: 25px;
  margin: 25px;
  float: right;
}

.welcome {
  background-repeat: no-repeat;
  border-radius: 60%;
  float: right;
}

h1 {
  background: url("../img/openSky.jpeg");
}

.bulleton {
  font-size: 2rem;
  width: 250px;
}

.author {
  background-color: yellow;
  text-align: center;
  border-radius: 50%;
  width: 80px;
}

.row {
  font-family: 'Crimson Text', serif;
  background-color: beige;
  background-color: lavender;
  margin: 15px;
}

.weighted {
  text-transform: uppercase;
  font-weight: bold;
}

.reasons {
  text-align: left;
}

.aboutMe {
  text-align: left;
  float: right;
  border: 5px #000;
  margin: 5px;
}

.roundIMG {
  border-radius: 50%;
}
