body {
  text-transform: lowercase;
  background-color: lavender;
  font-family: 'Ranga', cursive;
  background-image: src=("img/coffee-cup.jpg");
}

h1 {
  text-align: center;
  background-image: image(openSky.jpeg);
}

.author {
  text-align: center;
}

.row {
  font-family: 'Crimson Text', serif;
  background-color: beige;
  margin: 15px;
}

.weighted {
  text-transform: uppercase;
  font-weight: bold;
}

.aboutMe {
  text-align: left;
  float: right;
  border: 5px #000;
  margin: 5px;
}
